
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DynaPuff:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Glass+Antiqua&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


.brandy-texto{
    font-family: "DynaPuff";
    color: navy !important;
    font-size: 30px;
}